* {
  box-sizing: border-box;
}
body {
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  line-height: 1.6;
  font-size: 14px;
  font-kerning: normal;

}
.content-box {
  width: 80%;
  position: relative;
  float: left;
}
.sidebar-box {
  width: 20%;
  position: relative;
  float: right;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

header {
  background-color: #5e99b4;
  color: white;
  position: relative;
}
ul.container {
  background-color: #eaeaea;
  padding: 25px;
  color: #000000;
  width: 80%;
  position: relative;
  float:left;
}
h4 {
  font-size: 18px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
  font-style: italic;
}
a {
    text-decoration-line: none;
    color: #00a3cc;
}
ul li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
}
.clearfix::after {
content: "";
display: block;
clear: both;
}
li:after {
  content: " / ";
}
li:last-child:after {
    content: " ";
  }
img.sidebar-box {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }
.color {
  color: #5e99b4;
}
p.color {
  font-size: 20px;
}
footer {
  background-color: #3d3d3d;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  font-kerning: normal;
  text-align: center;
  line-height: 1.6;
  padding: 4rem;


}
