.head-container {
  font-family:sans-serif;
  padding: 3rem 1rem;
  margin: 0px 250px;
  max-width: 1000px;
  color: #ffffff;
}

header {
  background-color:#5e99b4;
  line-height: 350%;
}

.head-container > h1 {
  text-align: left;
  font-size: 4.5em;

}

.head-container > h2 {
  font-size: 2.1em;
  font-weight: normal;
}

.nav-container {
  font-family:sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  padding: 1.5rem;
  background-color: #eaeaea;
  }

nav {
  margin: 0px 250px;
}

nav > a {
  color: #666666;
  text-decoration: none;
}

body {
  background-color: #3d3d3d;
  margin: 50px 6px 6px 6px;
  box-shadow: 0px 0px 3px #969695;
}

.main-container {
  font-family:sans-serif;
  font-size: 1.2rem;
  background-color: #ffffff;
  display: flex;
  padding: 1.5rem;

  }

.left-column {
  flex: 60%;
  margin: 0px 50px 0px 250px;
}

.left-column > article > h3 {
  font-size: 1.3em;
  color: #6badcb;
  }

.left-column > article > h4 {
  font-size: 1.5em;
}

p.blue {
  color: #6badcb;
  font-size: 1.4em;
}

.right-column {
  flex: 40%;
  margin: 0px 250px 0px 0px;
}

.right-column > article > a {
  color: #6badcb;
  text-decoration: none;

}

.footer-container {
  font-family:sans-serif;
  text-align: center;
  width: 35%;
  margin: auto;
  padding: 100px 0px;
  line-height: 190%;
  color: #ffffff;
  font-size: 1.25rem;
}

.footer-container > a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

}
footer {
  background-color:#3d3d3d;
}
